#main_heading{
    color: orange;
    text-align: center;
}
#sub_heading{
    color: blue;
    text-align: center ;
}
#main_table{
    table-layout: fixed;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    th{
        &:first-child{
        width: 20%;
    }}
    td{
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        &:not(:first-child){
            cursor: pointer;
            user-select: none;
            transition: filter 0.2s ease;
        }
        &:hover{
            filter: brightness(90%);
            outline: 2px solid black;
        }
    }
    th{
        border: 1px solid black;
        text-align: center;
        padding: 10px;
    }
}